.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  /*color: whitesmoke;*/
  flex-direction: column;
}

.card {
  display: inline-block;
  width: 600px;
  padding:25px 20px;

}

.setting {
  background-color: #eeeef0 !important;
}

.field {
  width: 100%;
}

.field label{
  width: 100%;
  color: black;
}

.field input{
  width: 100%
}

.ui button{
  margin-top: 15px;
  padding: 5px 10px;
}